<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safaria</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <main class="main">
        <header class="main__header fade-in-top">
            <nav class="header__nav ">
                <a class="nav__logo" href="../index.html">
                    <img class="logo__img" src="../assets/logo.png" alt="Logo">
                </a>
            </nav>
        </header>
        <section class="main__section background-zebra">
            <video class="background-video" autoplay loop muted playsinline>
                <source src="../assets/zebra.mp4" type="video/mp4">
            </video>
            <div class="background__transparent">
                <div class="section__heading">
                    <h2 class="heading__title fade-in-left">Safaria</h2>
                </div>
                <div class="section__content fade-in-right">
                    <h1 class="content__title">Zebras</h1>
                    <hr class="content__divider">
                    <p class="content__text">
                        La cebra es un mamífero herbívoro conocido por su pelaje blanco y negro con patrones de rayas
                        únicas. Estas rayas no solo las distinguen entre sí, sino que también actúan como un camuflaje
                        cuando están en manadas, confundiendo a los depredadores.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <script src="../js/menu.js"></script>
</body>

</html>