<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="content_menu" class="navbar">

    </div>
    <div class="contenido">
        <h2>
            Nosotros
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima doloribus ipsam corrupti dolore maiores,
            exercitationem sint quas accusantium consectetur neque debitis, placeat dolorem magni voluptatibus.
            Dignissimos hic dolore ut minus.
        </p>
    </div>
    <script src="../js/menu.js"></script>
</body>

</html>