<main class="main">
  <div class="bg-violet banner">
    <h6>¡Sobrino entregamos tu pedido en 30 minutos!</h6>
  </div>
  <div>
    <nav class="navbar bg-white">
      <div class="container-fluid">
        <div class="d-flex gap-3">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success btn" type="submit">Search</button>
              </form>
            </div>
          </div>
          <div>
            <span>Delivery a:</span>
            <br>
            <b>¿Dónde quieres pedir hoy?</b>
          </div>
        </div>
        <div class="d-flex gap-5 align-items-center">
          <a href="#"><img src="../assets/btnTambo.webp" alt="..." class="btn__tambo"></a>
          <form class="d-flex form-search" role="search">
            <input class="me-2" type="search" placeholder="Buscar productos" aria-label="Search">
            <button class="btn btn_search" type="submit"><i class="bi bi-search"></i></button>
          </form>
          <a href="#" class="btn__login"><i class="bi bi-person-circle me-2"></i>Iniciar Sesión</a>
        </div>
        <div>
          <a href="" class="btn__cart">
            <i class="bi bi-cart-fill"></i>
            <span class="counter">0</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div id="carouselExampleIndicators" class="carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/slider1.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/slider2.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/slider3.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/slider4.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next </span>
    </button>
  </div>
  <br>
  <h4 class="text-center">¡LAS MEJORES PROMOS!</h4>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 14rem;">
          <img src="https://tofuu.getjusto.com/orioneat-local/resized2/cRCHMJd5KPay4nxy6-1200-1200.jpeg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pack 04 Gaseosas 1 L (02 Coca Cola + 02 Inca Kola)</h5>
            <p class="card-text">S/13.90</p>
            <a href="#" class="btn btn-primary">Ver Producto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 14rem;">
          <img src="https://tofuu.getjusto.com/orioneat-local/resized2/y8hnKTwJLMa96Jpu3-1200-1200.jpeg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Combo 10 Empanadas Clásicas (05 Pollo/05 Carne)</h5>
            <p class="card-text">S/18.90</p>
            <a href="#" class="btn btn-primary">Ver Producto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 14rem;">
          <img src="https://tofuu.getjusto.com/orioneat-local/resized2/y6sC7QFTcvy7kxF4b-1200-1200.jpeg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pack 02 RTD Four Loko Purple 473 ml</h5>
            <p class="card-text">S/18.90</p>
            <a href="#" class="btn btn-primary">Ver Producto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 14rem;">
          <img src="https://tofuu.getjusto.com/orioneat-local/resized2/gvwXBvpEEXGq746FM-1200-1200.jpeg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pack 02 Cerveza Pilsen Callao Twelve Pack Lata 355 Ml</h5>
            <p class="card-text">S/18.90</p>
            <a href="#" class="btn btn-primary">Ver Producto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 14rem;">
          <img src="https://tofuu.getjusto.com/orioneat-local/resized2/Yrw5qzjQzREnLLzCa-1200-1200.jpeg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pack 03 Inka Chips (Artesanal/Cebolla Caramel & BBQ/Jalapeño) 135 gr</h5>
            <p class="card-text">S/18.90</p>
            <a href="#" class="btn btn-primary">Ver Producto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

</main>



<router-outlet />